<html>
  <head>
  </head>
  <body>
    <form method="POST" action="">
      Patient Id <input type="text" name="pid" />
      <br> <br> <br>
      Appointment Id <input type="text" name="aid" />
      <br> <br> <br>
      Appointment Date <input type="text" name="appointment_date" />
      <br> <br> <br>
      Purpose <input type="text" name="purpose" />
      <br> <br> <br>
      Status <input type="text" name="status" />
      <br> <br> <br>
      <input type="submit">
    </form>
  </body>
</html>
