<html>
    <head>
        <style> 
        .container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 1rem;
            background-color: rgb(167, 250, 129);
        }      
        .btn {
            background-color: #1212a4;
            color: rgb(244, 238, 238);
            font-size: 16px;
            padding: 16px 30px;
            border: none;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Home page</h1>
            <br><br>
            <a href="displaypatients">
                <button class="btn">Patients</button>
            </a>
            <br><br>
            <a href="addpatients">
                <button class="btn">Add patients</button>
            </a>
            <br> <br>
            <a href="displayappointment">
                <button class="btn">Appointments</button>
            </a>
            <br> <br>
        </div>
    </body>
</html>
